@model IEnumerable<MVCAddressBook.Models.Contact>

@using MVCAddressBook.Services
@inject IImageService _imageService

@using MVCAddressBook.Enums;

@{
    ViewData["Title"] = "Index";
}

<h1>CONTACTS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!--CARDS SECTION-->
<div class="card-deck">
    @foreach (var contact in Model)
    {
        <div class="col-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src="@_imageService.DecodePoster(contact.Poster, contact.ContentType)" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title align-center">@contact.FirstName @contact.LastName</h5>
                    <p class="card-text align-center">@contact.CategoryType</p>
                    <p>@contact.CellPhone</p>
                    <p>@contact.Email</p>
                    <a asp-action="Edit" asp-route-id="@contact.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@contact.Id">Delete</a>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button data-toggle="modal" data-target="#modal-@contact.Id" class="btn btn-primary align-content-end">Details</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!--MODAL SECTION-->
@foreach (var contact in Model)
{
    <!--MOVIE OVERVIEW/DETAILS-->
    <div class="modal fade" id="modal-@contact.Id" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@contact.FirstName @contact.LastName</h5>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" src="@_imageService.DecodePoster(contact.Poster, contact.ContentType)" alt="Card image cap" />
                    <p>@contact.HomePhone</p>
                    <p>@contact.CellPhone</p>
                    <p>@contact.WorkPhone</p>
                    <p>@contact.FaxNumber</p>
                    <p>@contact.Email</p>
                    <p>@contact.StreetAddress</p>
                    <p>@contact.State</p>
                    <p>@contact.ZipCode</p>

                    <a asp-action="Edit" asp-route-id="@contact.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@contact.Id">Delete</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--EDIT-->
}
